#overlay{
    display: none; /* Par defaut, on cache l'overlay*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; /* Pour centrer l'image que l'overlay contiendra */
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay img{
    margin-top: 100px;
}

p {
    margin-top: 300px;
    text-align: center;
}